FLAML==2.5.0
joblib==1.5.3
numpy==2.0.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.30.0
pandas-stubs==2.2.2.240909
python-apt==0.0.0
python-box==7.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-fasthtml==0.12.50
python-json-logger==4.1.0
python-louvain==0.16
python-multipart==0.0.22
python-slugify==8.0.4
python-snappy==0.7.3
python-utils==3.9.1
PyYAML==6.0.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.16.3
scs==3.2.11
seaborn==0.13.2
simplejson==3.20.2
sklearn-compat==0.1.5
sklearn-pandas==2.2.0
xgboost==3.2.0

